name: CD

on:
  push:
    branches: ['master']

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3
      - name: Build docker image
        env:
          DOCKERHUB_LOGIN: ${{ secrets.DOCKERHUB_LOGIN }}
          DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}
        run: |
          docker build -t user_service:latest .
          docker login -u $DOCKERHUB_LOGIN -p $DOCKERHUB_PASSWORD
          docker push user_service:latest
